.hero-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 4em 6em;
}



@media screen and (max-width: 1000px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        padding: 4em 2em;
        width: 100%;
    }

}